Now that you've learned about random forests and decision trees let's do an exercise in accuracy. You know that random forests are basically a collection of decision trees. But how do the accuracies of the two models compare?

So here's what you should do. Pick a dataset. It could be one you've worked with before or it could be a new one. Then build the best decision tree you can.

Now try to match that with the simplest random forest you can. For our purposes measure simplicity with runtime. Compare that to the runtime of the decision tree. This is imperfect but just go with it.

Hopefully out of this you'll see the power of random forests, but also their potential costs. Remember, in the real world you won't necessarily be dealing with thousands of rows. It could be millions, billions, or even more.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [47]:
# We import the data from csv file:
df = pd.read_csv('think capstone1_slim.csv' ,encoding ='latin1')

In [48]:
# Get a feel for the data:
df.head()

,YYYY_MM,IdProduct,Product_Name,Manufacturer_Name,Product Classification,IdLocation,Drugstore_Name,Total_Sales,No_of_transactions,No_of_medical_prescriptions,Units_Sold,Net_Profit,row_num_sales,row_num_profit
0,2015-1,20177,Nut Seringa Ject 10 Ml Cu Ac,MINUT,_DispozitivMedicalMultiplu,3,Stad,45.73,15,0,86.0,18.07,2,3
1,2015-1,2130,Panthen Unguent 50 Mg /G X 100 G,BAYER SCHERING,Cosmetice,3,Stad,265.55,4,0,5.0,46.66,1,1
2,2015-1,18,Oderma Abc Derm Gel Spumant X 200 Ml,BIODERMA,Cosmetice,3,Stad,37.42,1,0,1.0,9.45,14,9
3,2015-1,20697,Ltene Tratament Pt Unghii,FOLTENE,Cosmetice,3,Stad,48.90,1,0,1.0,4.38,8,33
4,2015-1,25030,Nsiprod Tensiometru Pentru Brat,PANSIPROD,Dispozitive Medicale,3,Stad,408.16,2,0,2.0,96.13,1,2

In [37]:
# What kind of data is in the dataframe?
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686 entries, 0 to 1685
Data columns (total 14 columns):
YYYY_MM                        1686 non-null object
IdProduct                      1686 non-null int64
Product_Name                   1686 non-null object
Manufacturer_Name              1686 non-null object
Product Classification         1686 non-null object
IdLocation                     1686 non-null int64
Drugstore_Name                 1686 non-null object
Total_Sales                    1686 non-null float64
No_of_transactions             1686 non-null int64
No_of_medical_prescriptions    1686 non-null int64
Units_Sold                     1686 non-null float64
Net_Profit                     1686 non-null float64
row_num_sales                  1686 non-null int64
row_num_profit                 1686 non-null int64
dtypes: float64(3), int64(6), object(5)
memory usage: 184.5+ KB
None

In [49]:
categorical = df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print('Column name:',i ,' \t\t/ Unique values:', column.nunique())

Column name: YYYY_MM  		/ Unique values: 3
Column name: Product_Name  		/ Unique values: 488
Column name: Manufacturer_Name  		/ Unique values: 132
Column name: Product Classification  		/ Unique values: 12
Column name: Drugstore_Name  		/ Unique values: 5

In [50]:
pd.get_dummies(df)

,IdProduct,IdLocation,Total_Sales,No_of_transactions,No_of_medical_prescriptions,Units_Sold,Net_Profit,row_num_sales,row_num_profit,YYYY_MM_2015-1,...,Product Classification_Parafarm.,Product Classification_RX,Product Classification_RX - 120,Product Classification_Suplimente,Product Classification__DispozitivMedicalMultiplu,Drugstore_Name_Bica,Drugstore_Name_Buhu,Drugstore_Name_Ener,Drugstore_Name_Repu,Drugstore_Name_Stad
0,20177,3,45.73,15,0,86.00,18.07,2,3,1,...,0,0,0,0,1,0,0,0,0,1
1,2130,3,265.55,4,0,5.00,46.66,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,18,3,37.42,1,0,1.00,9.45,14,9,1,...,0,0,0,0,0,0,0,0,0,1
3,20697,3,48.90,1,0,1.00,4.38,8,33,1,...,0,0,0,0,0,0,0,0,0,1
4,25030,3,408.16,2,0,2.00,96.13,1,2,1,...,0,0,0,0,0,0,0,0,0,1
5,22321,3,41.94,1,0,1.00,13.86,19,10,1,...,0,0,0,0,0,0,0,0,0,1
6,23861,3,169.68,1,1,2.00,8.84,6,18,1,...,0,0,0,0,0,0,0,0,0,1
7,22102,3,378.08,2,0,2.00,-3.00,2,42,1,...,0,0,0,0,0,0,0,0,0,1
8,13427,3,736.71,86,0,68.85,154.69,6,8,1,...,0,0,0,0,0,0,0,0,0,1
9,1957,3,129.33,3,0,3.00,34.51,7,5,1,...,1,0,0,0,0,0,0,0,0,1
10,3776,3,127.88,5,0,2.10,17.45,8,21,1,...,1,0,0,0,0,0,0,0,0,1
11,2386,3,161.44,6,0,6.33,38.70,7,7,1,...,0,0,0,0,0,0,0,0,0,1
12,2379,3,179.40,5,0,6.00,-24.08,6,15,1,...,0,0,0,0,0,0,0,0,0,1
13,29826,3,826.75,3,3,5.00,371.10,31,8,1,...,0,1,0,0,0,0,0,0,0,1
14,10093,3,1869.45,4,4,8.00,183.80,6,32,1,...,0,1,0,0,0,0,0,0,0,1
15,22307,3,199.94,11,0,9.58,144.98,21,1,1,...,0,0,0,1,0,0,0,0,0,1
16,10815,3,344.84,21,0,2.10,73.34,5,9,1,...,0,0,0,1,0,0,0,0,0,1
17,20177,4,87.17,20,0,160.00,37.60,1,2,1,...,0,0,0,0,1,0,0,0,1,0
18,23908,4,9.10,3,0,8.00,4.93,10,10,1,...,0,0,0,0,1,0,0,0,1,0
19,25704,4,172.44,3346,0,4311.00,-27.38,2,4,1,...,0,0,0,0,0,0,0,0,1,0
20,15369,4,111.40,2,0,2.00,22.05,5,8,1,...,0,0,0,0,0,0,0,0,1,0
21,29360,4,97.34,2,0,2.00,1.91,8,120,1,...,0,0,0,0,0,0,0,0,1,0
22,23251,4,143.71,11,0,3.25,45.17,14,6,1,...,0,0,0,0,0,0,0,0,1,0
23,7120,4,2059.85,150,0,103.62,796.06,1,1,1,...,0,0,0,0,0,0,0,0,1,0
24,24291,4,807.86,101,0,82.60,349.55,13,9,1,...,0,0,0,0,0,0,0,0,1,0
25,16955,4,274.80,3,1,4.00,46.53,7,8,1,...,1,0,0,0,0,0,0,0,1,0
26,3777,4,298.78,6,0,5.40,35.90,5,16,1,...,1,0,0,0,0,0,0,0,1,0
27,20180,3,48.66,21,0,90.00,23.01,1,2,1,...,0,0,0,0,1,0,0,0,0,1
28,20193,3,4.44,1,0,2.00,1.78,10,10,1,...,0,0,0,0,1,0,0,0,0,1
29,25704,3,71.20,180,0,1780.00,-11.37,2,4,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,30931,1002,142.80,1,0,1.00,25.20,7,6,0,...,0,0,0,0,0,0,1,0,0,0
1657,22522,1002,156.81,17,0,3.04,74.58,16,6,0,...,0,0,0,0,0,0,1,0,0,0
1658,24270,1002,1603.36,44,0,44.00,428.64,4,2,0,...,0,0,0,0,0,0,1,0,0,0
1659,28996,1002,673.38,194,0,216.50,235.18,17,10,0,...,0,0,0,0,0,0,1,0,0,0
1660,16959,1002,319.75,22,0,25.00,76.24,6,5,0,...,1,0,0,0,0,0,1,0,0,0
1661,2391,1002,847.05,17,0,16.33,558.10,4,3,0,...,0,0,0,0,0,0,1,0,0,0
1662,2387,1002,191.04,4,0,4.00,74.73,10,11,0,...,0,0,0,0,0,0,1,0,0,0
1663,5715,1002,2396.40,43,33,66.40,1127.16,25,5,0,...,0,1,0,0,0,0,1,0,0,0
1664,31284,1002,4252.62,27,22,41.20,546.06,5,29,0,...,0,1,0,0,0,0,1,0,0,0
1665,22828,1002,25.68,7,0,0.80,5.10,1,1,0,...,0,0,1,0,0,0,1,0,0,0
1666,31408,1002,710.10,26,0,27.00,237.18,10,8,0,...,0,0,0,1,0,0,1,0,0,0
1667,30833,1002,963.30,28,0,30.00,567.71,6,2,0,...,0,0,0,1,0,0,1,0,0,0
1668,6116,1002,570.35,35,0,27.30,231.45,17,10,0,...,0,0,0,1,0,0,1,0,0,0
1669,16541,1002,1185.81,23,0,29.00,118.42,3,18,0,...,0,0,0,1,0,0,1,0,0,0
1670,2372,1001,215.98,11,0,6.30,118.87,7,7,0,...,0,0,0,0,0,0,0,1,0,0
1671,25977,1001,16279.23,11,11,35.50,1860.56,1,1,0,...,0,1,0,0,0,0,0,1,0,0
1672,15902,1001,2054.67,88,71,185.27,560.94,17,9,0,...,0,1,0,0,0,0,0,1,0,0
1673,5041,1001,3344.92,52,42,122.17,456.82,5,17,0,...,0,1,0,0,0,0,0,1,0,0
1674,31289,1001,592.30,44,0,27.10,223.42,6,4,0,...,0,0,0,1,0,0,0,1,0,0
1675,20192,1002,46.76,7,0,28.00,19.68,5,4,0,...,0,0,0,0,1,0,1,0,0,0
1676,25703,1002,250.00,3,0,5000.00,13.08,2,3,0,...,0,0,0,0,0,0,1,0,0,0
1677,22063,1002,63.84,2,0,2.00,20.32,29,7,0,...,0,0,0,0,0,0,1,0,0,0
1678,13591,1002,118.68,3,0,3.00,-54.11,10,151,0,...,0,0,0,0,0,0,1,0,0,0
1679,31143,1002,187.78,1,0,1.00,67.02,12,7,0,...,0,0,0,0,0,0,1,0,0,0
1680,24195,1002,952.17,50,0,51.00,398.90,7,3,0,...,0,0,0,0,0,0,1,0,0,0
1681,20170,1002,204.24,39,0,184.00,68.22,12,6,0,...,1,0,0,0,0,0,1,0,0,0
1682,2372,1002,863.18,28,0,25.18,404.20,3,4,0,...,0,0,0,0,0,0,1,0,0,0
1683,29060,1002,3930.00,102,75,92.38,1081.57,9,6,0,...,0,1,0,0,0,0,1,0,0,0
1684,28920,1002,1749.33,52,0,52.83,633.46,1,1,0,...,0,0,0,1,0,0,1,0,0,0
1685,13018,1002,609.05,24,0,19.05,233.61,14,9,0,...,0,0,0,1,0,0,1,0,0,0

### Random Forest

In [40]:
# This is the model we'll be using.
from sklearn import tree

In [41]:
from sklearn.model_selection import train_test_split

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1348, 648) (1348,)
(338, 648) (338,)

In [42]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

import time
start_time = time.time()

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(X_train, y_train);

print("--- %s seconds ---" % (time.time() - start_time))

--- 16.275256872177124 seconds ---

### Make Predictions on the Test Set
We compare the predictions to the known answers. When performing regression, we need to make sure to use the absolute error because we expect some of our answers to be low and some to be high. We are interested in how far away our average prediction is from the actual value so we take the absolute value

In [43]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test)
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2 ), 'Net_Profit')

Mean Absolute Error: 26.78 Net_Profit

In [44]:
# Now let's compare some of our predicted values with the actual values and see how accurate we were:
df=pd.DataFrame({'Actual':y_test, 'Predicted':predictions})  
df

       Actual   Predicted
1566   555.20   518.76043
1569   203.11   205.29431
799    765.17   657.44005
1040   744.33   626.12941
307     79.39    87.57340
975   1485.84  1436.13534
996     32.04    30.24034
544    276.66   298.50674
460     95.54   107.25356
1155    10.74    10.79679
391      5.29     4.61239
1435   144.77   185.89090
482    704.13   646.89611
798    123.32    99.54901
128    240.94   267.02928
739      4.61     4.37118
1403   429.08   322.33640
1380    98.01   189.28522
1390   398.52   352.12597
487     72.99    80.20462
1417   184.19   207.66549
163    105.80   122.96865
1459   238.03   227.04110
993    279.14   239.34142
1044     3.86     4.23384
1194   397.25   465.13409
1502   409.50   361.44580
53       3.63     5.12659
1338    22.33    18.54470
9       34.51    33.11967
...       ...         ...
675     16.98    16.75899
269    129.16   121.42290
514     15.87    11.29488
1438     2.67     2.97157
321      7.44     5.50000
459    136.79   180.31697
427     44.46    52.63704
1050   146.24   140.79457
730    456.83   531.99846
1640   243.98   264.20202
1391     9.71   -11.12695
214    272.20   254.31515
1330    -1.82    -3.68635
36      84.18    68.25708
1599    10.05     9.87941
647     18.08    22.17535
495   1059.64   915.53411
888    704.27   638.11703
803     37.73    34.06018
1073    46.40   261.47044
345     90.59   113.86471
412     23.50    22.16363
693      3.61     3.67596
41      75.41    82.24231
407    541.54   442.04775
54      14.87    19.44315
858    524.08   573.88317
287    289.53   339.18188
424     10.59    10.20932
789      2.34     1.57750

[338 rows x 2 columns]

### Determine Performance Metrics
To put our predictions in perspective, we can calculate an accuracy using the mean average percentage error subtracted from 100 %.

In [45]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 106.5 %.

In [46]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

import time
start_time = time.time()

rfc = ensemble.RandomForestRegressor()
X = df.drop('Net_Profit', axis=1)
Y = df['Net_Profit']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

print(cross_val_score(rfc, X, Y, cv=10))


print("--- %s seconds ---" % (time.time() - start_time))

ValueError: labels ['Net_Profit'] not contained in axis

# Decision Tree:

In [9]:
# This is the model we'll be using.
from sklearn import tree

In [11]:
from sklearn.model_selection import train_test_split

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1348, 648) (1348,)
(338, 648) (338,)

In [31]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np

import time
start_time = time.time()

regressor = DecisionTreeRegressor(max_depth=5)
regressor.fit( X_train , y_train )

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.021056652069091797 seconds ---

### To make predictions on the test set, use the predict method:

In [15]:
y_pred = regressor.predict(X_test)

In [17]:
# Now let's compare some of our predicted values with the actual values and see how accurate we were:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

       Actual    Predicted
1566   555.20   542.682439
1569   203.11   285.064198
799    765.17   542.682439
1040   744.33   486.316667
307     79.39    64.274427
975   1485.84   974.374706
996     32.04     6.374043
544    276.66   285.064198
460     95.54    95.023429
1155    10.74     6.529397
391      5.29     6.529397
1435   144.77   193.924972
482    704.13   542.682439
798    123.32    64.274427
128    240.94   193.924972
739      4.61     6.529397
1403   429.08   193.924972
1380    98.01    15.206667
1390   398.52   285.064198
487     72.99    95.023429
1417   184.19   285.064198
163    105.80   160.676111
1459   238.03   193.924972
993    279.14   103.419000
1044     3.86     6.529397
1194   397.25   402.126765
1502   409.50   283.005854
53       3.63     6.529397
1338    22.33    25.352469
9       34.51    25.352469
...       ...          ...
675     16.98    25.352469
269    129.16   103.419000
514     15.87     6.529397
1438     2.67     6.529397
321      7.44     6.529397
459    136.79   193.924972
427     44.46    64.274427
1050   146.24    64.274427
730    456.83   402.126765
1640   243.98   193.924972
1391     9.71    15.206667
214    272.20   193.924972
1330    -1.82     6.374043
36      84.18    64.274427
1599    10.05     6.529397
647     18.08    25.352469
495   1059.64  1035.476000
888    704.27   542.682439
803     37.73    25.352469
1073    46.40   285.064198
345     90.59    64.274427
412     23.50    25.352469
693      3.61     6.529397
41      75.41    64.274427
407    541.54   285.064198
54      14.87    25.352469
858    524.08   622.487714
287    289.53   285.064198
424     10.59     6.529397
789      2.34     6.529397

[338 rows x 2 columns]

### Evaluating the Algorithm
To evaluate performance of the regression algorithm, the commonly used metrics are 
- mean absolute error, 
- mean squared error, and 
- root mean squared error.

In [18]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 55.83176294220861
Mean Squared Error: 9751.325866459145
Root Mean Squared Error: 98.74880184822064

In [29]:
# Calculate the absolute errors
errors = abs(y_pred - y_test)

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 239.2 %.

### Overfitting ...?