Now that you've learned about random forests and decision trees let's do an exercise in accuracy. You know that random forests are basically a collection of decision trees. But how do the accuracies of the two models compare?

So here's what you should do. Pick a dataset. It could be one you've worked with before or it could be a new one. Then build the best decision tree you can.

Now try to match that with the simplest random forest you can. For our purposes measure simplicity with runtime. Compare that to the runtime of the decision tree. This is imperfect but just go with it.

Hopefully out of this you'll see the power of random forests, but also their potential costs. Remember, in the real world you won't necessarily be dealing with thousands of rows. It could be millions, billions, or even more.

In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [102]:
# We import the data from csv file:
df = pd.read_csv('think capstone1_slim.csv' ,encoding ='latin1')

In [103]:
# Get a feel for the data:
df.head()

,YYYY_MM,IdProduct,Product_Name,Manufacturer_Name,Product Classification,IdLocation,Drugstore_Name,Total_Sales,No_of_transactions,No_of_medical_prescriptions,Units_Sold,Net_Profit,row_num_sales,row_num_profit
0,2015-1,20177,Nut Seringa Ject 10 Ml Cu Ac,MINUT,_DispozitivMedicalMultiplu,3,Stad,45.73,15,0,86.0,18.07,2,3
1,2015-1,2130,Panthen Unguent 50 Mg /G X 100 G,BAYER SCHERING,Cosmetice,3,Stad,265.55,4,0,5.0,46.66,1,1
2,2015-1,18,Oderma Abc Derm Gel Spumant X 200 Ml,BIODERMA,Cosmetice,3,Stad,37.42,1,0,1.0,9.45,14,9
3,2015-1,20697,Ltene Tratament Pt Unghii,FOLTENE,Cosmetice,3,Stad,48.90,1,0,1.0,4.38,8,33
4,2015-1,25030,Nsiprod Tensiometru Pentru Brat,PANSIPROD,Dispozitive Medicale,3,Stad,408.16,2,0,2.0,96.13,1,2

In [104]:
df=df.drop(['IdProduct','row_num_sales','row_num_profit','IdLocation','No_of_transactions'] , axis=1)

In [105]:
# What kind of data is in the dataframe?
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686 entries, 0 to 1685
Data columns (total 9 columns):
YYYY_MM                        1686 non-null object
Product_Name                   1686 non-null object
Manufacturer_Name              1686 non-null object
Product Classification         1686 non-null object
Drugstore_Name                 1686 non-null object
Total_Sales                    1686 non-null float64
No_of_medical_prescriptions    1686 non-null int64
Units_Sold                     1686 non-null float64
Net_Profit                     1686 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 118.6+ KB
None

In [106]:
categorical = df.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print('Column name:',i ,' \t\t/ Unique values:', column.nunique())

Column name: YYYY_MM  		/ Unique values: 3
Column name: Product_Name  		/ Unique values: 488
Column name: Manufacturer_Name  		/ Unique values: 132
Column name: Product Classification  		/ Unique values: 12
Column name: Drugstore_Name  		/ Unique values: 5

In [107]:
pd.get_dummies(df)

,Total_Sales,No_of_medical_prescriptions,Units_Sold,Net_Profit,YYYY_MM_2015-1,YYYY_MM_2015-2,YYYY_MM_2015-3,Product_Name_ - Spa 40 Mg X 24 Tb.,Product_Name_ - Spa Forte 80 Mg X 24 Cpr,Product_Name_ Insulina 12 Mm X 1 Buc.,...,Product Classification_Parafarm.,Product Classification_RX,Product Classification_RX - 120,Product Classification_Suplimente,Product Classification__DispozitivMedicalMultiplu,Drugstore_Name_Bica,Drugstore_Name_Buhu,Drugstore_Name_Ener,Drugstore_Name_Repu,Drugstore_Name_Stad
0,45.73,0,86.00,18.07,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,265.55,0,5.00,46.66,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,37.42,0,1.00,9.45,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,48.90,0,1.00,4.38,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,408.16,0,2.00,96.13,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,41.94,0,1.00,13.86,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,169.68,1,2.00,8.84,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,378.08,0,2.00,-3.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,736.71,0,68.85,154.69,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,129.33,0,3.00,34.51,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
10,127.88,0,2.10,17.45,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
11,161.44,0,6.33,38.70,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,179.40,0,6.00,-24.08,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,826.75,3,5.00,371.10,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
14,1869.45,4,8.00,183.80,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
15,199.94,0,9.58,144.98,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
16,344.84,0,2.10,73.34,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,87.17,0,160.00,37.60,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
18,9.10,0,8.00,4.93,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
19,172.44,0,4311.00,-27.38,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,111.40,0,2.00,22.05,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,97.34,0,2.00,1.91,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,143.71,0,3.25,45.17,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,2059.85,0,103.62,796.06,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,807.86,0,82.60,349.55,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,274.80,1,4.00,46.53,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
26,298.78,0,5.40,35.90,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
27,48.66,0,90.00,23.01,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
28,4.44,0,2.00,1.78,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
29,71.20,0,1780.00,-11.37,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,142.80,0,1.00,25.20,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1657,156.81,0,3.04,74.58,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1658,1603.36,0,44.00,428.64,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1659,673.38,0,216.50,235.18,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1660,319.75,0,25.00,76.24,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1661,847.05,0,16.33,558.10,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1662,191.04,0,4.00,74.73,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1663,2396.40,33,66.40,1127.16,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1664,4252.62,22,41.20,546.06,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1665,25.68,0,0.80,5.10,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1666,710.10,0,27.00,237.18,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1667,963.30,0,30.00,567.71,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1668,570.35,0,27.30,231.45,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1669,1185.81,0,29.00,118.42,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1670,215.98,0,6.30,118.87,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1671,16279.23,11,35.50,1860.56,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1672,2054.67,71,185.27,560.94,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1673,3344.92,42,122.17,456.82,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1674,592.30,0,27.10,223.42,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1675,46.76,0,28.00,19.68,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1676,250.00,0,5000.00,13.08,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1677,63.84,0,2.00,20.32,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1678,118.68,0,3.00,-54.11,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1679,187.78,0,1.00,67.02,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1680,952.17,0,51.00,398.90,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1681,204.24,0,184.00,68.22,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1682,863.18,0,25.18,404.20,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1683,3930.00,75,92.38,1081.57,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1684,1749.33,0,52.83,633.46,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1685,609.05,0,19.05,233.61,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0

# Decision Tree:

In [108]:
# This is the model we'll be using.
from sklearn import tree

In [109]:
X = df.drop('Net_Profit', axis=1)
Y = df['Net_Profit']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

In [110]:
from sklearn.model_selection import train_test_split

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1348, 643) (1348,)
(338, 643) (338,)

In [111]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np

import time
start_time = time.time()

regressor = DecisionTreeRegressor(max_depth=5)
regressor.fit( X_train , y_train )

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.018047571182250977 seconds ---

In [112]:
R2_tesr = regressor.score(X_test,y_test)
R2_trained

0.8163744253148448

### To make predictions on the test set, use the predict method:

In [115]:
y_pred = regressor.predict(X_test)

In [116]:
# Now let's compare some of our predicted values with the actual values and see how accurate we were:
df_compare=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df_compare

       Actual    Predicted
1566   555.20   391.210870
1569   203.11   247.160000
799    765.17   611.807089
1040   744.33   736.180000
307     79.39    49.410736
975   1485.84  1194.968182
996     32.04    49.410736
544    276.66   247.160000
460     95.54   177.088995
1155    10.74     6.529397
391      5.29     6.529397
1435   144.77   177.088995
482    704.13   611.807089
798    123.32    49.410736
128    240.94   177.088995
739      4.61     6.529397
1403   429.08   177.088995
1380    98.01   348.667500
1390   398.52   247.160000
487     72.99   177.088995
1417   184.19   247.160000
163    105.80   184.116667
1459   238.03   177.088995
993    279.14   177.088995
1044     3.86     6.529397
1194   397.25   611.807089
1502   409.50   611.807089
53       3.63     6.529397
1338    22.33    14.974615
9       34.51    28.837050
...       ...          ...
675     16.98    14.974615
269    129.16    79.546154
514     15.87     6.529397
1438     2.67     6.529397
321      7.44     6.529397
459    136.79   177.088995
427     44.46    49.410736
1050   146.24    49.410736
730    456.83   611.807089
1640   243.98   177.088995
1391     9.71   391.210870
214    272.20   177.088995
1330    -1.82    49.410736
36      84.18    49.410736
1599    10.05     6.529397
647     18.08    28.837050
495   1059.64   611.807089
888    704.27   721.462500
803     37.73    28.837050
1073    46.40   247.160000
345     90.59    49.410736
412     23.50    14.974615
693      3.61     6.529397
41      75.41   110.786842
407    541.54   247.160000
54      14.87    14.974615
858    524.08   391.210870
287    289.53   247.160000
424     10.59     6.529397
789      2.34     6.529397

[338 rows x 2 columns]

### Evaluating the Algorithm
To evaluate performance of the regression algorithm, the commonly used metrics are 
- mean absolute error, 
- mean squared error, and 
- root mean squared error.

In [117]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 66.83262966437677
Mean Squared Error: 12262.641985253413
Root Mean Squared Error: 110.7368140468806

In [118]:
# Calculate the absolute errors
errors = abs(y_pred - y_test)

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 243.52 %.

### Overfitting ...?

### Cross validation for Decision Tree:

In [121]:
from sklearn.model_selection import cross_val_score

print(cross_val_score(regressor, X, Y, cv=10))

[0.784 0.791 0.848 0.894 0.691 0.797 0.912 0.872 0.77  0.826]

### Random Forest

In [78]:
# This is the model we'll be using.
from sklearn import tree

In [79]:
X = df.drop('Net_Profit', axis=1)
Y = df['Net_Profit']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

In [80]:
from sklearn.model_selection import train_test_split

# split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1348, 643) (1348,)
(338, 643) (338,)

In [81]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

import time
start_time = time.time()

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(X_train, y_train);

print("--- %s seconds ---" % (time.time() - start_time))

--- 15.240860939025879 seconds ---

In [82]:
col_names = X.columns
col_names

Index(['Total_Sales', 'No_of_medical_prescriptions', 'Units_Sold',
       'YYYY_MM_2015-1', 'YYYY_MM_2015-2', 'YYYY_MM_2015-3',
       'Product_Name_ - Spa 40 Mg X 24 Tb.',
       'Product_Name_ - Spa Forte 80 Mg X 24 Cpr',
       'Product_Name_ Insulina 12 Mm X 1 Buc.',
       'Product_Name_. Soleil Sampon Antiparazitar Uman X 200 Ml',
       ...
       'Product Classification_Parafarm.', 'Product Classification_RX',
       'Product Classification_RX - 120', 'Product Classification_Suplimente',
       'Product Classification__DispozitivMedicalMultiplu',
       'Drugstore_Name_Bica', 'Drugstore_Name_Buhu', 'Drugstore_Name_Ener',
       'Drugstore_Name_Repu', 'Drugstore_Name_Stad'],
      dtype='object', length=643)

In [83]:
print ("Features sorted by their score:")
feat_importance = sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), col_names), 
             reverse=True)

feat_importance[0:10]

Features sorted by their score:

[(0.6503, 'Total_Sales'),
 (0.0761, 'No_of_medical_prescriptions'),
 (0.0703, 'Units_Sold'),
 (0.0352, 'Product_Name_O-Dis L-Arginina 500 Mg X 50 Cps.'),
 (0.0317, 'Manufacturer_Name_BIO-DIS'),
 (0.031, 'Product Classification_PROPRII'),
 (0.0132, 'Drugstore_Name_Buhu'),
 (0.0093, 'Manufacturer_Name_ANTIBIOTICE'),
 (0.0048, 'Product Classification_OTC'),
 (0.0038, 'Product_Name_Penter 75 Mg X 28 Cpr. Film.')]

### Make Predictions on the Test Set
We compare the predictions to the known answers. When performing regression, we need to make sure to use the absolute error because we expect some of our answers to be low and some to be high. We are interested in how far away our average prediction is from the actual value so we take the absolute value

In [84]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test)
# Calculate the absolute errors
errors = abs(predictions - y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2 ), 'Net_Profit')

Mean Absolute Error: 36.58 Net_Profit

In [85]:
# Now let's compare some of our predicted values with the actual values and see how accurate we were:
df_compare=pd.DataFrame({'Actual':y_test, 'Predicted':predictions})  
df_compare

       Actual   Predicted
1566   555.20   570.47825
1569   203.11   168.96022
799    765.17   587.29355
1040   744.33   636.80225
307     79.39    87.71612
975   1485.84  1269.58047
996     32.04    44.30425
544    276.66   294.93167
460     95.54   242.19076
1155    10.74    10.66814
391      5.29     4.38117
1435   144.77   188.66740
482    704.13   543.54276
798    123.32   112.98159
128    240.94   257.36756
739      4.61     3.76286
1403   429.08   348.44132
1380    98.01   226.95997
1390   398.52   322.41933
487     72.99   120.93954
1417   184.19   222.39824
163    105.80   153.80777
1459   238.03   196.06958
993    279.14   280.46395
1044     3.86     4.50817
1194   397.25   450.79334
1502   409.50   476.37693
53       3.63     5.25465
1338    22.33    15.52129
9       34.51    26.02562
...       ...         ...
675     16.98    17.73276
269    129.16   114.54646
514     15.87    11.65414
1438     2.67     2.89377
321      7.44     5.58019
459    136.79   159.16411
427     44.46    39.25523
1050   146.24   141.39426
730    456.83   636.39972
1640   243.98   222.60441
1391     9.71   458.71885
214    272.20   151.74504
1330    -1.82    18.66196
36      84.18    53.38761
1599    10.05    10.50427
647     18.08    28.75317
495   1059.64   828.59613
888    704.27   620.89473
803     37.73    39.15194
1073    46.40   125.35666
345     90.59    94.51894
412     23.50     3.24987
693      3.61     4.09951
41      75.41   110.32662
407    541.54   444.58966
54      14.87    13.11344
858    524.08   518.82853
287    289.53   222.31173
424     10.59    10.38143
789      2.34     1.81638

[338 rows x 2 columns]

### Determine Performance Metrics
To put our predictions in perspective, we can calculate an accuracy using the mean average percentage error subtracted from 100 %.

In [86]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 117.41 %.

In [87]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

import time
start_time = time.time()

rfc = ensemble.RandomForestRegressor()
X = df.drop('Net_Profit', axis=1)
Y = df['Net_Profit']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

print(cross_val_score(rfc, X, Y, cv=10))


print("--- %s seconds ---" % (time.time() - start_time))

[0.89827373 0.94069872 0.90922433 0.96520229 0.91943638 0.92954568
 0.92598974 0.94882975 0.87440189 0.91787411]
--- 1.8850045204162598 seconds ---

## SelectKbest

In [88]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [92]:
# feature extraction
kbest = SelectKBest(score_func=f_regression, k=4)

#Fitting finds the internal parameters of a model that will be used to transform data. 
fit = kbest.fit(X, Y)

# summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)

#Transforming applies the parameters to data. You may fit a model to one set of data, and then 
#transform it on a completely different set.
features = fit.transform(X)
# summarize selected features
print(features[0:5,:])

[1.627e+03 9.076e+02 1.032e+00 1.261e-02 2.374e-03 2.560e-02 5.552e-02
 8.104e-02 3.785e-01 8.968e-01 2.721e-01 6.743e-01 2.006e-01 7.426e-03
 1.453e+00 3.611e-02 1.240e-02 2.242e+00 2.828e-01 2.971e-01 3.693e+01
 1.168e-01 5.808e+00 1.305e+00 9.177e-01 4.506e-03 3.009e-01 1.578e+00
 1.839e+00 9.071e-01 6.291e-01 2.765e-01 3.028e-01 9.295e-01 5.828e-02
 4.304e+01 4.411e-02 3.393e-01 2.360e-01 7.094e-01 4.275e-01 1.541e-02
 1.012e+00 1.645e+00 5.714e-01 5.429e+00 4.029e-02 3.336e+00 1.125e+00
 2.337e-01 1.985e+00 5.661e-02 1.299e+00 1.416e+00 4.610e+00 3.015e-01
 3.037e-01 3.031e-01 1.120e+00 3.334e-01 3.082e-01 8.351e-01 5.317e-01
 1.742e-01 2.670e-01 2.010e-01 8.509e-02 1.446e+00 1.672e+00 5.082e+01
 3.793e-01 1.094e+00 1.440e+00 2.956e-01 3.549e-01 5.847e+01 5.905e-01
 3.402e-01 2.850e-01 7.790e-01 4.859e-01 7.848e-01 1.415e+00 3.388e-01
 1.089e+00 2.868e-01 1.719e+02 1.115e+00 9.413e+00 2.468e-01 4.125e-02
 8.771e-02 1.213e-01 3.307e-01 3.853e-02 4.541e-01 2.920e-02 7.618e-01
 1.197e+00 3.363e-01 5.728e-01 7.134e+00 3.311e-01 4.011e-02 2.183e+01
 6.967e-01 2.023e-01 2.104e-01 1.163e+00 1.486e-01 3.587e-02 8.240e-03
 1.275e-02 3.524e-01 2.071e-01 2.943e-02 3.592e-01 5.611e-01 6.417e-01
 2.109e+00 1.212e+00 8.097e-01 4.355e-01 1.650e-01 6.415e-01 3.496e-01
 3.482e-01 7.015e-01 7.021e-01 6.828e-01 3.533e-01 3.533e-01 3.525e-01
 3.533e-01 3.242e-01 3.488e-01 7.035e-01 7.035e-01 3.488e-01 3.378e-01
 6.899e-01 3.496e-01 3.327e-01 3.533e-01 3.533e-01 7.071e-01 3.486e-01
 3.486e-01 1.368e+00 3.523e-01 3.482e-01 3.496e-01 3.362e-01 6.765e-01
 3.486e-01 3.496e-01 3.533e-01 3.533e-01 3.533e-01 3.533e-01 3.398e-01
 3.378e-01 3.496e-01 3.307e-01 3.496e-01 3.398e-01 3.533e-01 3.496e-01
 3.378e-01 3.496e-01 3.352e-01 3.525e-01 6.899e-01 3.525e-01 3.362e-01
 9.977e-01 9.701e-04 3.333e-01 2.947e-01 5.452e-01 7.089e-01 7.964e-03
 1.818e+00 1.320e+00 8.873e-02 7.857e-01 3.882e-02 1.609e-01 2.517e-01
 3.251e-01 1.274e-01 3.302e-01 4.962e-01 2.271e-02 9.484e-02 8.869e-01
 9.191e+00 1.059e+01 3.474e-01 8.679e-03 5.500e-01 1.338e-01 3.492e-01
 1.419e-02 6.126e-02 1.804e-02 7.517e-01 2.134e-01 9.485e-01 4.173e-01
 4.621e-01 2.594e-01 1.703e-03 9.218e-03 1.777e-01 5.476e-01 1.727e+00
 1.991e-01 5.757e-01 4.434e-01 5.106e-02 3.469e-03 4.668e+00 6.585e+00
 2.575e-01 1.629e+00 5.982e+00 7.129e-01 8.386e-02 3.120e-01 7.451e-01
 6.263e-01 5.514e-01 9.484e-01 1.278e-01 1.363e-01 5.240e-01 3.579e-01
 1.077e+00 3.594e-01 7.171e-01 7.039e-01 7.194e-01 4.895e-01 1.909e+00
 1.697e-01 2.837e-01 5.134e-01 1.457e-01 4.318e-01 5.469e+01 5.451e-01
 3.496e+00 2.034e+00 3.220e-02 7.081e-01 7.112e-01 3.564e-01 3.440e-01
 6.477e-01 1.106e+00 1.597e-01 2.123e-01 2.708e-01 2.822e+00 3.154e+00
 4.287e+00 3.467e+00 3.630e+00 2.307e+00 2.234e+00 3.442e+00 9.192e-01
 2.052e+00 3.631e-01 3.445e-01 3.937e+00 3.788e+00 3.762e+00 3.238e+00
 2.252e-01 2.860e-01 2.530e-01 2.019e-01 2.677e-01 2.057e-01 2.020e-01
 1.331e-02 6.866e-03 2.311e-01 5.504e+00 3.648e-02 7.780e-02 2.377e+01
 1.432e+00 3.354e+02 2.441e-01 8.786e-02 9.063e-01 2.128e-02 4.873e+00
 3.412e-01 8.799e-01 3.290e-01 3.238e-01 3.119e-01 6.014e-01 5.672e-01
 1.482e+00 2.569e-01 2.912e-01 3.166e-01 1.238e+00 5.278e-01 4.723e-01
 5.535e-01 3.057e-01 3.354e-01 2.805e-01 2.975e-01 7.512e-01 5.491e-01
 3.334e-01 3.214e-01 3.578e-01 6.028e-01 3.038e-01 3.116e-01 1.351e+00
 1.174e-02 1.711e+00 2.234e-01 4.417e-04 1.216e-01 1.261e-02 1.528e-03
 2.432e-01 2.619e-01 2.719e-01 3.142e-01 5.220e+00 2.697e-01 8.714e-01
 5.138e-01 5.941e-01 4.895e-01 2.599e-04 2.182e-03 6.175e-01 9.572e-01
 3.322e+00 3.325e+00 3.515e-01 1.298e+00 4.966e-01 2.127e+00 2.075e-01
 3.939e+01 2.366e-01 4.445e-01 3.449e-01 1.285e+00 6.347e+00 2.583e-01
 1.021e+00 1.205e+00 3.187e-01 4.554e-02 2.622e+00 2.721e-03 1.008e+01
 6.605e-02 9.039e-01 7.874e-03 2.007e+01 7.554e-01 2.178e-01 8.579e-01
 7.695e-02 3.658e-01 1.118e-01 7.429e-02 4.453e+00 2.087e+00 8.974e-02
 3.517e-02 6.140e-01 9.332e-02 2.095e+01 3.002e-01 2.193e+00 3.892e+00
 5.891e-01 3.177e-01 3.296e-01 3.297e-01 3.262e-01 3.177e-01 3.163e-01
 2.982e-01 2.652e+00 3.810e-02 1.578e+00 5.496e-01 7.955e+00 3.171e-02
 5.554e-01 5.290e-01 3.433e-01 2.879e-01 2.992e-01 1.601e+00 5.299e-01
 6.701e-01 3.023e-01 9.374e-01 4.568e-02 3.273e-01 2.756e-01 2.595e-01
 2.355e-01 3.040e-01 5.928e-01 3.084e-01 9.485e-01 3.340e+01 1.699e-02
 1.113e-01 6.066e-01 8.578e-02 1.186e-01 2.466e-01 6.618e+00 1.109e+00
 3.055e-01 8.847e-01 1.593e-01 2.455e-01 9.087e-01 3.520e-01 2.817e-01
 5.997e-01 2.197e-01 1.776e+00 1.654e+00 1.540e+00 9.174e-01 1.392e+00
 1.924e-01 2.587e-01 2.345e-01 2.513e-02 8.740e-02 2.842e+01 7.843e-01
 4.395e-03 4.987e-03 2.423e-01 1.752e-01 2.640e-01 2.964e-01 2.703e-01
 4.321e-04 1.345e+00 9.961e-01 1.414e+01 8.787e+00 1.228e+00 3.183e-01
 1.873e-04 8.890e-03 1.244e+00 1.278e-03 1.685e+01 2.898e-01 1.779e+00
 2.873e-01 2.965e+00 2.776e-01 3.442e-01 5.702e-01 3.011e-01 1.691e+00
 3.142e-01 3.455e-01 8.996e-01 1.549e+00 4.654e-01 2.574e-01 1.100e+00
 1.555e+00 3.455e-01 3.159e-01 3.193e-01 1.972e+01 1.108e+00 4.173e-01
 9.485e-01 8.148e+00 3.324e+00 2.242e+00 1.914e-01 1.776e+00 4.029e-02
 1.579e+02 4.366e-01 1.345e+00 4.087e+01 1.626e+00 2.058e+00 5.220e+00
 2.602e+00 8.540e+00 2.590e+01 2.842e+01 2.020e-01 5.019e+01 1.496e+01
 4.902e+00 1.392e+00 4.266e+00 3.220e-02 1.375e+00 1.212e+00 2.108e+01
 9.485e-01 2.650e+00 5.488e+00 4.300e-01 3.183e-01 2.234e-01 7.451e-01
 1.122e+00 5.997e-01 8.968e-01 6.057e-01 2.007e+01 2.697e-01 3.193e-01
 9.169e-01 3.517e-02 2.622e+00 7.094e-01 7.758e-01 2.192e+00 3.311e-01
 1.854e-01 2.721e-01 5.192e-01 3.492e-01 6.515e+00 2.010e-01 3.631e+00
 1.239e+00 2.670e-01 2.455e-01 2.246e+00 4.291e-01 7.517e-01 5.941e-01
 1.153e-01 8.869e-01 3.009e-01 2.366e-01 4.966e-01 1.529e+00 1.521e+00
 1.262e+02 1.544e-01 1.545e+00 1.440e+00 6.496e-01 9.177e-01 2.034e+00
 5.582e+01 1.650e-01 1.826e+00 3.574e+00 2.776e-01 9.084e+00 5.207e-01
 3.793e-01 1.094e+00 8.388e+00 2.756e+00 1.125e+00 7.054e+00 5.542e+00
 8.740e-02 3.002e-01 1.305e+00 1.298e+00 2.721e-03 1.192e+00 1.076e+01
 9.961e-01 3.785e-01 5.476e-01 1.871e-01 1.629e+00 8.890e-03 4.011e-02
 2.575e-01 5.905e-01 1.852e-01 5.429e+00 1.540e+00 5.828e-02 1.838e-03
 5.451e-01 5.770e+00 3.939e+01 1.192e+00 2.075e-01 5.808e+00 7.843e-01
 6.618e+00 1.074e-01 7.129e-01 7.767e-03 6.840e-01 6.130e-01 5.052e+00
 2.360e-01 8.039e+00 9.390e+00 1.671e+01 3.785e-01 7.387e+01 3.654e+01
 2.873e+01 2.367e+01 5.019e+01 4.424e+01 7.738e+02 5.220e+00 5.484e-01
 5.560e+01 2.801e+00 3.000e+01 4.661e-03 5.516e-01 1.977e+01]
[[ 45.73   0.     0.     0.  ]
 [265.55   0.     0.     0.  ]
 [ 37.42   0.     0.     0.  ]
 [ 48.9    0.     0.     0.  ]
 [408.16   0.     0.     0.  ]]

In [94]:
selected_features = kbest.fit_transform(X, Y)

In [96]:
selected_features[[0:]]

array([[4.573e+01, 0.000e+00, 0.000e+00, 0.000e+00],
       [2.656e+02, 0.000e+00, 0.000e+00, 0.000e+00],
       [3.742e+01, 0.000e+00, 0.000e+00, 0.000e+00],
       ...,
       [3.930e+03, 7.500e+01, 0.000e+00, 1.000e+00],
       [1.749e+03, 0.000e+00, 0.000e+00, 0.000e+00],
       [6.090e+02, 0.000e+00, 0.000e+00, 0.000e+00]])

### SVM Parameter Tuning in Scikit Learn using GridSearchCV:
- grid search cross validation

In [122]:
import numpy as np
from sklearn.grid_search import GridSearchCV
from sklearn import svm
import matplotlib.pyplot as plt

from sklearn.linear_model import Ridge

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [123]:
X = df.drop('Net_Profit', axis=1)
Y = df['Net_Profit']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

In [124]:
# prepare a range of alpha values to test
alphas = np.array([1,0.1,0.01,0.001,0.0001,0])

In [125]:
# create and fit a ridge regression model, testing each alpha
model = Ridge()

By default, the GridSearchCVs cross validation uses 3-fold KFold or StratifiedKFold depending on the situation.

In [126]:
estimator = RandomForestRegressor()

param_grid = { 
            "n_estimators"      : [10,20,30],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8],
            "bootstrap": [True, False],
            }

In [127]:
grid = GridSearchCV(estimator, param_grid ,  n_jobs=-1, cv=5 )
grid.fit( X, Y )
print(grid)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'bootstrap': [True, False], 'min_samples_split': [2, 4, 8], 'max_features': ['auto', 'sqrt', 'log2'], 'n_estimators': [10, 20, 30]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [128]:
# summarize the results of the grid search
print('best_score_: ',grid.best_score_)
print('best_estimator_: ',grid.best_estimator_)
print('best_params_: ',grid.best_params_)

best_score_:  0.9272174141736841
best_estimator_:  RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
best_params_:  {'n_estimators': 30, 'min_samples_split': 2, 'bootstrap': True, 'max_features': 'auto'}